#arrow-keys {
    position: absolute;
    width: 150px;
    height:110px;
    float:right;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
}

#left {
    position: absolute;
    width:41%;
    height:39%;
    margin:auto;
    left:0;
    bottom:0;
    top:0;
}

#right {
    position: absolute;
    width:41%;
    height:39%;
    margin: auto;
    right:0;
    bottom:0;
    top:0;
}

#up {
    position: absolute;
    width:35%;
    height:47%;
    top:0;
    margin:auto;
    left:0;
    right:0;
}

#down {
    position: absolute;
    width:35%;
    height:47%;
    bottom:0;
    margin: auto;
    left:0;
    right:0
}

#camera-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}